* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 2rem;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  border: 0.2px solid #000;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #fff;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  border: 0.2px solid #000;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #000;
  border-radius: 2px;
}

input[type='range']:focus::-ms-fill-lower {
  background: #fff;
}

input[type='range']::-ms-fill-upper {
  background: #fff;
  border: 0.2px solid #000;
  border-radius: 2px;
}

input[type='range']:focus::-ms-fill-upper {
  background: #367ebd;
}
